<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SAAl</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <style type="text/css">
      * {
        box-sizing: border-box;
      }
      body {
        font-family: "Roboto", sans-serif;
      }
      table {
        border-spacing: 0px;
      }
    </style>
  </head>
  <body style="padding: 0px; margin: 0px">
    <table
      style="
        width: 720px;
        margin-left: auto;
        margin-right: auto;
        background-color: #ffffff;
      "
    >
      <tbody>
        <tr>
          <td style="width: 100%">
            <table style="width: 720px; margin-left: auto; margin-right: auto">
              <tbody>
                <tr>
                  <td
                    style="
                      width: 100%;
                      text-align: center;
                      padding-top: 15px;
                      padding-bottom: 15px;
                      background-color: #fff7e6;
                      background-repeat: no-repeat;
                      background-size: cover;
                    "
                  >
                    <a href="javaScript:;" style="display: inline-block"
                      ><img src="https://ia801603.us.archive.org/4/items/saal-logo/SaalLogo.png" style="width: 175px" alt="Saal"
                    /></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="width: 100%">
            <table style="width: 600px; margin-left: auto; margin-right: auto">
              <tr>
                <td
                  style="
                    width: 100%;
                    padding-top: 40px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #000000;
                    font-weight: 600;
                  "
                >
                  Dear <%= name %>,
                </td>
              </tr>
              <tr>
                <td
                  style="
                    width: 100%;
                    padding-top: 22px;
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    line-height: 30px;
                    color: #000000;
                    padding-bottom: 70px;
                  "
                >
                <p>
                  You have requested to reset your password. Please click on
                  the below button to reset your password.
                </p>
                <br />
                <p>
                  If you did not request to reset your password, please ignore
                  this email.
                </p>
                  <br />
                  <br />
                  <p style="text-align: center">
                    <a
                      href= <%= link %>
                      style="
                        display: inline-block;
                        background-color: #1fc0da;
                        width: 300px;
                        font-size: 22px;
                        line-height: 22px;
                        color: #fff;
                        text-decoration: none;
                        padding-top: 22px;
                        padding-bottom: 22px;
                        text-align: center;
                        border-radius: 10px;
                        cursor: pointer;
                      "
                      >Reset Password</a
                    >
                  </p>
                </td>
              </tr>
              <tr>
                <td style="width: 100%">
                  <table
                    style="
                      width: 100%;
                      background-color: #fbf8ef;
                      border: 1px solid #000000;
                      border-radius: 10px;
                      padding-top: 30px;
                      padding-bottom: 30px;
                      padding-left: 30px;
                      padding-right: 30px;
                    "
                  >
                    <tr>
                      <td style="width: 100%; text-align: center">
                        <h2
                          style="
                            width: 100%;
                            text-align: center;
                            color: #000000;
                            font-size: 30px;
                            line-height: 30px;
                            font-weight: 900;
                          "
                        >
                          Explore Top Services
                        </h2>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 100%; border-bottom: 1px solid #e6e6e6">
                        <p
                          style="
                            font-size: 22px;
                            color: #000000;
                            font-weight: 500;
                          "
                        >
                          <img
                            src="https://archive.org/download/bigdata-icon/bigdata-icon.png"
                            alt=""
                            style="
                              width: 40px;
                              margin-right: 25px;
                              vertical-align: middle;
                            "
                          />Big Date Analytics
                        </p>
                        <p
                          style="
                            font-size: 16px;
                            line-height: 28px;
                            color: #555555;
                          "
                        >
                          Examine data sets to identify patterns, trends and
                          correlations with our AI-based big data analytics to
                          derive insights that support improved decision-making.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 100%; border-bottom: 1px solid #e6e6e6">
                        <p
                          style="
                            font-size: 22px;
                            color: #000000;
                            font-weight: 500;
                          "
                        >
                          <img
                            src="https://archive.org/download/arabic-ai/arabic-ai.png"
                            alt=""
                            style="
                              width: 40px;
                              margin-right: 25px;
                              vertical-align: middle;
                            "
                          />Arabic AI
                        </p>
                        <p
                          style="
                            font-size: 16px;
                            line-height: 28px;
                            color: #555555;
                          "
                        >
                          Examine data sets to identify patterns, trends and
                          correlations with our AI-based big data analytics to
                          derive insights that support improved decision-making.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td style="width: 100%">
                        <p
                          style="
                            font-size: 22px;
                            color: #000000;
                            font-weight: 500;
                          "
                        >
                          <img
                            src="https://archive.org/download/ai-icon/ai-icon.png"
                            alt=""
                            style="
                              width: 40px;
                              margin-right: 25px;
                              vertical-align: middle;
                            "
                          />Application & Integration
                        </p>
                        <p
                          style="
                            font-size: 16px;
                            line-height: 28px;
                            color: #555555;
                          "
                        >
                          Examine data sets to identify patterns, trends and
                          correlations with our AI-based big data analytics to
                          derive insights that support improved decision-making.
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td style="width: 100%; padding-top: 7px; padding-bottom: 6px">
            <table style="width: 100%; margin-left: auto; margin-right: auto">
              <tbody>
                <tr>
                  <td style="text-align: center; width: 100%">
                    <p style="text-align: center">
                      <a href="https://www.facebook.com/SaalaiAD/" target="_blank" style="display: inline-block"
                        ><img
                          src="https://ia804709.us.archive.org/0/items/facebook_20230131_0955/facebook.png"
                          alt="Facebook-icon"
                      /></a>
                      <a
                        href="https://www.instagram.com/saal.ai/" target="_blank"
                        style="margin-left: 25px; display: inline-block"
                        ><img
                          src="https://ia801602.us.archive.org/23/items/instagram_20230131/instagram.png"
                          alt="instagram"
                      /></a>
                      <a
                        href="https://twitter.com/saalai_?lang=en" target="_blank"
                        style="margin-left: 25px; display: inline-block"
                        ><img
                          src="https://ia801602.us.archive.org/23/items/instagram_20230131/twitter.png"
                          alt="twitter"
                      /></a>
                      <a
                        href="https://www.linkedin.com/company/saal-ai/" target="_blank"
                        style="margin-left: 25px; display: inline-block"
                        ><img
                          src="https://ia801602.us.archive.org/23/items/instagram_20230131/linkedin.png"
                          alt="linkedIn"
                      /></a>
                      <a
                        href="https://www.youtube.com/channel/UCjVt7p6pFH0lnDWdkI2rVdg" target="_blank"
                        style="margin-left: 25px; display: inline-block"
                        ><img
                          src="https://ia601602.us.archive.org/23/items/instagram_20230131/youtube.png"
                          alt="youtube-icon"
                      /></a>
                    </p>
                    <p
                      style="
                        text-align: center;
                        font-size: 16px;
                        color: #555555;
                      "
                    >
                      © 2023
                      <a
                        href="javaScript:;"
                        style="font-size: 16px; color: #555555"
                        >Saal.ai</a
                      >
                      All Rights Reserved
                    </p>
                    <!-- <p style="color: #000000; font-size: 16px">+97124416755</p> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
